

/*sida 1, startsida*/

#container{
    display:grid;
    height:100vh;
    grid-template: 15% 10% 65% 10% / 20% 60% 20%;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    'as1 mn as2'
    'ft ft ft';
    margin: 0;
    gap: 5px;
    
}


.header{
display: flex;
flex-direction: row;
grid-area: hd;
font-size: 150%;
font-family: 'Times New Roman', Times, serif;
padding: 20px;
border-radius: 25px;
justify-content: center;
background-color: yellow;
}

.nav{
grid-area: nv;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
border-bottom: solid;
border-top: solid;
}

.a{
    color: black;
}

.main{
grid-area: mn;
background-color: white;

}

.aside1{
grid-area: as1;
background-color: white;

}

.aside2{
grid-area: as2;
background-color: white;
}

.footer{
    grid-area: ft;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    border-top: solid;
}

.bild1{
    display:flex;
    justify-self: center;
    margin: 65px;
    margin-bottom: 120px;
    box-shadow: 10px 10px 30px black;
    height: 30%;
    width: 60%;
    border-radius: 100%;
}

.bild2{
    display: flex;
    height: 30%;
    width: 60%;
    border-radius: 100%;
    margin: 20px;
    justify-self: center;
    align-self: flex-end;
    box-shadow: 10px 10px 30px black;
    
}

.bild3{
    display:flex;
    justify-self: center;
    margin: 65px;
    margin-bottom: 120px;
    box-shadow: 10px 10px 30px black;

    height: 30%;
    width: 60%;
    border-radius: 100%;
}

.bild4{
    display: flex;
    height: 30%;
    width: 60%;
    border-radius: 100%;
    margin: 20px;
    justify-self: center;
    align-self: flex-end;
    box-shadow: 10px 10px 30px black;
}

.logo{
    display: flex;
    width: 10%;
    height: 100%;
   
}

/* sida 2, kommentarer/chatt & bokning */

.container2{
    display: grid;
    height:100vh;
    grid-template-rows: 15% 10% 1fr 1fr 1fr 10%;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    'hd hd'
    'nv nv'
    'ar1 dv'
    'ar2 dv'
    'ar3 as'
    'ft ft';
    gap: 5px;
    margin: 0;
    
}


.header2{
    grid-area: hd;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    grid-area: hd;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 25px;
    justify-content: center;
    background-color: yellow;

}

.nav2{
    grid-area: nv;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid;
    border-top: solid;
}

.article1{
    grid-area: ar1;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 10px 10px 15px black;

}

.article2{
    grid-area: ar2;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 10px 10px 15px black;

}

.article3{
    grid-area: ar3;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 10px 10px 15px black;

}

.div{
    grid-area: dv;
    background-color: white;
    border-style: solid;
    border-color: black;



}

.aside3{
    grid-area: as;
    background-color: white;
    border-style: solid;
    border-color: black;


}

.footer2{
    grid-area: ft;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    border-top: solid;


}

.understruken{
    text-decoration: underline;
    display: flex;
    justify-content: center;
}


/*sida 3 - cards */


.container3{
    display: grid;
    height:100vh;
    grid-template-rows: 15% 10% 32% 32% 10%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    'sc1 sc2 sc3'
    'sc4 sc5 sc6'
    'ft ft ft';
    gap: 5px;
    margin: 0;
}

.header3{
    grid-area: hd;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    grid-area: hd;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 25px;
    justify-content: center;
    background-color: yellow;
}

.nav3{
    grid-area: nv;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid;
    border-top: solid;
}

.section1{
    grid-area: sc1;
    background-color: orange;
}

.section2{
    grid-area: sc2;
    background-color: violet;


}

.section3{
    grid-area: sc3;
    background-color: brown;

}

.section4{
    grid-area: sc4;
    background-color: hotpink;

}

.section5{
    grid-area: sc5;
    background-color: blue;

}

.section6{
    grid-area: sc6;
    background-color: green;

}

.footer3{
    grid-area: ft;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: underline;
    border-top: solid;
  
}
