#container{
    display:grid;
    height:100vh;
    grid-template: 15% 10% 65% 10% / 20% 60% 20%;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    'as1 mn as2'
    'ft ft ft';
    margin: 0;
}


.header{
grid-area: hd;
font-size: 250%;
font-family: 'Times New Roman', Times, serif;


background-color: blueviolet;
}

.nav{
grid-area: nv;

background-color: aqua;


}

.main{
grid-area: mn;

background-color: chocolate;

}

.aside1{
grid-area: as1;

background-color: darkgreen;

}

.aside2{
grid-area: as2;

background-color: brown;

}

.footer{
    grid-area: ft;
    background-color: hotpink;
}